.btn{
    padding: 10px;
    background-color: beige;
    color: black;
    border-radius: 10%;
    font-weight: 800;
}

.btn:hover{
    background-color: rgb(89, 115, 230);
    cursor: pointer;
}